<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css') }}">
    <title>{%block titulo%}{%endblock%}</title>
</head>
<body>
    {%block contenido%}
    <h1>Soy Platilla Base</h1>
    <li><a href="{{url_for('ingreso_usuario')}}">Ingreso Usuario</a></li>
    <li><a href="{{url_for('ver_usuario')}}">Lista de usuarios</a></li>
    <li><a href="{{url_for('modificar_usuario')}}">Modificar usuario</a></li>
    {%endblock%}
    {#  {% ... %}Para declaraciones #}
    {#  {{ ... }}Para que las se impriman en la salida de la plantilla #}
    {##}
</body>
</html>