{%extends 'base.html'%} {#esto es el codigo que sirve para extender desde alguna plantilla#}
{%block titulo%}Ingreso Usuario{%endblock%}
{%block contenido%}
<h1>Ingreso de usuario</h1>
<div>
    <form method="post">
        <ul>
        <li><label for="">Nombre</label></li>
        <input type="text" name="nombres">
       <li><label for="">Apellido Paterno</label></li>
        <input type="text" name="apaterno">
        <li><label for="">Apellido Materno</label></li>
        <input type="text"name="amaterno">
        <button type="submit">Enviar</button>
        </ul>
    </form>
   
</div>
{%endblock%}